footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0D1117 ;
    padding: 10px;
    color: #E6EDF3;
    .footnav{
        display: flex;
        margin-bottom: 10px;
        .github-btn{
            cursor: pointer;
            img{
                width: 20%;
            }
        }
        .mail-btn{
            cursor: pointer;
            .fa-envelope{
                width: 20%;
                color: #E6EDF3 ;
            }
        }
    }
}