.navbar {
    display: flex;
    width: 100%;
    transition: all 0.3s ease;
    background-color: #38132D;

    ul {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 10px;
        a{
            text-decoration: none;
            color: white;
            display: block;
            padding: 10
        }
        li {
            border: solid 2px #A74F17;
            border-radius: 20px;
            list-style: none;
            
            a {
                text-decoration: none;
                color: white;
                display: block;
                padding: 10px;

                &:hover {
                background-color: #D5AD27 !important;
                border-radius: 20px;
                color: white;
                }
            }
        }
    }
}

 // état sticky appliqué par React
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}