@use '../variables' as *;
.about-page{
    background: linear-gradient(45deg, $color-bg-dark, $color-grey);
    background-size: 400% 400%;
    animation: gradient-shift 5s ease infinite;
    padding: 20px;
    border: solid 2px $color-primary;
    border-radius: 10px;
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh; // Assure une hauteur complète
    padding-bottom: 120px; // Espace pour le footer
    
    @keyframes gradient-shift {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }
    h1{
        text-align: center;
        color: $color-green;
    }
    h2{
        text-align: center;
        color: $color-green;
    }
    p{
        color: $color-primary;
    }
    .about-me{
        display: flex;
        justify-content: center;
        .arrow{
            display: flex;
            align-items: center;
            svg{
                transform: rotate(270deg);
            }
        }
        .photos{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            width: 30%;
            .item{
                width: 100%;
                height: 100%;
            }
 
        }
        figure{
            width: 20%;
            img{
                width: 200px;
                margin: 0 auto;
                display: block;
                border-radius: 5px;
            }
            figcaption{
                color: $color-primary;
                text-align: center;
                font-style: italic;
                margin-top: 10px;
            }
        }
    }
    .skills-fusion{
        .skills-diagram-animated {
            position: relative;
            width: 300px;
            height: 300px;
            margin: 2rem auto;
            .fixed-circle {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                text {
                    position: absolute; 
                    z-index: 10;        
                    pointer-events: none; // le texte ne gêne pas les interactions
                }
            }
            .rotating-arrows {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                width: 300px;
                height: 300px;
                animation: rotateArrows 4s linear infinite;
                transform-origin: 50% 50%;
            }

            @keyframes rotateArrows {
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }
    
}

@media (max-width: 1024px) {
    .about-page{
        margin: 20px;
        padding: 20px;
        .about-me{
            .photos{
                width: 80%;
            }
            figure{
                width: 80%;
                img{
                    width: 100%;
                }
                figcaption{
                    font-size: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) { 
    .about-page{
        margin: 20px;
        padding: 20px;
        .about-me{
            flex-direction: column;
            align-items: center;
            .arrow{
                margin: 20px 0;
                svg{
                    transform: rotate(0deg);
                }
            }
            .photos{
                width: 50%;
                grid-template-columns: 1fr 1fr;
                margin-bottom: 20px;
            }
            figure{
                width: 50%;
                margin-bottom: 20px;
                img{
                    width: 100%;
                }
            }
        }
    }
    
}