.activites-page {
  background: linear-gradient(95deg, #21262D, #8B949E, #21262D, #8B949E);
  background-size: 400% 400%;
  animation: gradient-shift 5s ease infinite;
  position: relative;
  z-index: 1;
  background-color: grey;
  border-radius: 10px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}
@keyframes gradient-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.activites-page h1 {
  text-align: center;
}
.activites-page .projects-container {
  display: flex;
  justify-content: center;
}
.activites-page .projects-container .projects-list {
  display: flex;
  justify-content: center;
  gap: 30px;
  width: 100%;
  padding: 20px;
}
.activites-page .projects-container .projects-list a {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
}
.activites-page .projects-container .projects-list a img {
  width: 40%;
  height: 30px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(212, 202, 202);
}
.activites-page .projects-container .projects-list .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.activites-page .projects-container .projects-list .project-card .see-more-btn {
  background: grey;
  color: #3FB950;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.activites-page .projects-container .projects-list .project-card .see-more-btn:hover {
  background: linear-gradient(to right, #58A6FF, #3FB950);
  color: white;
  border-radius: 40px;
}
.activites-page .formation-section .activities-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.activites-page .formation-section .activities-list .activity-card {
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  background-color: rgb(212, 202, 202);
}
.activites-page .formation-section .activities-list .activity-card .activity-info {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 5%;
  border-bottom: solid 1px black;
  border-radius: 10px;
  color: white;
  background: linear-gradient(to right, #58A6FF, #3FB950);
}
.activites-page .formation-section .activities-list .activity-card .activity-info img {
  background: white;
  width: 120px;
  height: 120px;
  border-radius: 10px;
  -o-object-fit: contain;
     object-fit: contain;
}
.activites-page .formation-section .activities-list .activity-card .activity-info .activity-text {
  display: flex;
  flex-direction: column;
}
.activites-page .formation-section .activities-list .activity-card .activity-body {
  margin-top: 5%;
  margin-bottom: 5%;
  border-bottom: solid 1px black;
  padding-bottom: 5%;
}
.activites-page .formation-section .activities-list .activity-card .activity-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}
.activites-page .formation-section .activities-list .activity-card .activity-footer .skill-badge {
  background: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.activites-page .modal-overlay {
  display: flex;
  justify-content: center;
}
.activites-page .modal-overlay .modal-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(212, 202, 202);
  border-radius: 20px;
  padding: 20px;
}
.activites-page .modal-overlay .modal-content img {
  width: 40%;
}
.activites-page .modal-overlay .modal-content h2 {
  text-align: center;
  font-size: 30px;
}
.activites-page .modal-overlay .modal-content .close-btn {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}
.activites-page .modal-overlay .modal-content .info-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.activites-page .modal-overlay .modal-content .info-list strong {
  text-align: center;
}
.activites-page .modal-overlay .modal-content .tech-list {
  background: grey;
  padding: 10px;
  border-radius: 20px;
}
.activites-page .modal-overlay .modal-content .tech-list strong {
  text-align: center;
}
.activites-page .modal-overlay .modal-content a {
  text-align: center;
  color: black;
  font-style: italic;
  text-decoration: none;
  margin-top: 10px;
}
.activites-page .modal-overlay .modal-content a:hover {
  background: linear-gradient(to right, #58A6FF, #3FB950);
  color: white;
  border-radius: 20px;
  font-weight: bold;
}

@media (max-width: 1024px) {
  .activites-page {
    margin: 20px;
    padding: 20px;
  }
  .activites-page .projects-container .projects-list {
    flex-direction: column;
  }
  .activites-page .projects-container .projects-list a {
    margin-bottom: 20px;
  }
  .activites-page .projects-container .projects-list a img {
    width: 100px;
  }
  .activites-page .formation-section {
    margin-bottom: 20px;
  }
  .activites-page .formation-section .activities-list {
    flex-direction: column;
    align-items: center;
  }
  .activites-page .formation-section .activities-list .activity-card {
    width: 50%;
  }
  .activites-page .formation-section .activities-list .activity-card .activity-info {
    flex-direction: column;
    align-items: center;
  }
  .activites-page .formation-section .activities-list .activity-card .activity-info img {
    width: 80px;
    height: 80px;
  }
  .activites-page .modal-overlay .modal-content {
    width: 90%;
  }
  .activites-page .modal-overlay .modal-content img {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .activites-page {
    margin: 10px;
    padding: 10px;
  }
  .activites-page .projects-container .projects-list {
    flex-direction: column;
    align-items: center;
  }
  .activites-page .projects-container .projects-list a {
    margin-bottom: 20px;
  }
  .activites-page .projects-container .projects-list a img {
    width: 150px;
    height: 50px;
  }
  .activites-page .formation-section {
    margin-bottom: 20px;
  }
  .activites-page .formation-section .activities-list {
    flex-direction: column;
    align-items: center;
  }
  .activites-page .formation-section .activities-list .activity-card {
    width: 90%;
  }
  .activites-page .formation-section .activities-list .activity-card .activity-info {
    flex-direction: column;
    align-items: center;
  }
  .activites-page .formation-section .activities-list .activity-card .activity-info img {
    width: 80px;
    height: 80px;
  }
  .activites-page .modal-overlay .modal-content {
    width: 90%;
  }
  .activites-page .modal-overlay .modal-content img {
    width: 80%;
  }
}/*# sourceMappingURL=acti.css.map */