.competences-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    max-width: 1440px;
    margin: 0 auto; 
    p{
        width: 70%;
        text-align: center;
    }
    .logo-anime {
        margin: 20px auto;
        width: 300px;
        height: 300px;
        animation: rotateScale 4s infinite;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    @keyframes rotateScale {
        0% {
            transform: rotate(0deg) scale(1);
        }
        50% {
            transform: rotate(180deg) scale(1.2);
        }
        100% {
            transform: rotate(360deg) scale(1);
        }
    }
    .title-competence{
        margin-bottom: 40px;
        h1{
            text-align: center;
        }
        p{
            margin: 0 auto;
        }

    }
    .tech-portfolio{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        width: 100%;
        h4{
            width: 100%;
            text-align: center;
            color: #58a6ff;
            font-weight: bold;
            font-size: 20px;
        }
        .tech-item{
            display: flex;
            flex-direction: column;
            align-items: center;
            border: solid 1px #ccc;
            padding: 10px;
            border-radius: 10px;
            width: 100%;
            background-color: #21262d;
           .tech-list{
                display: flex;
                justify-content: space-around;
                align-items: center;
                gap: 10px;
                width: 100%;
                height: 90px;
                background: linear-gradient(to right, #58a6ff, #3fb950);
                border-radius: 10px;
                .tech-card{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 5px;
                    i{
                        font-size: 2rem;
                        color: #ffffff;
                    }
                    span{
                        font-size: 1rem;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}