@import '../_variables';
.homepage{
    max-width: 1440px;
    margin: 0 auto; 
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 10px;
        h2{
            position: relative;
            right: -40%;
            text-align: center;
            border-bottom: solid 2px grey;
            border-bottom-width: medium;
            width: 20%;
            color: $color-grey-light ;
            margin-bottom: 20px;
            padding-bottom: 10px;
        }
    }
    .presentation{
    background-color: $color-bg-dark ;
        height: 400px;
        .pres-content{
            display: flex;
            align-items: center;
            img{
                width: 20%;
            
            }
            p{
                position: relative;
                width: 50%;
                text-align: center;
                color: white;
                left: 10%;
            }
        }
        
    }
    .realisation{
        height: 400px;
        .reali{
            display: flex;
            justify-content: space-around;
            align-items: center;

            .reve{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                p{
                    margin: 0;
                    color: $color-grey;
                }
                img{
                    width: 200px;
                    height: 200px;
                    border-radius: 10px;
                }
            }
            .info{
                color: $color-grey ;
                text-align: center;
                width: 40%;
            }
            .tech{
                display: flex;
                flex-direction: column;
                gap: 10px;
                border-radius: 10px;
                padding: 15px;
                background-color: $color-bg-dark;
                width: 20%;
                p{
                    font-size: 10px;
                    color: $color-primary;
                    text-transform: uppercase;
                    font-weight: bold;
                    text-align: center;
                }
                .tech-item{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    gap: 30px;
                    border: solid 1px grey;
                    background-color: grey;
                    border-radius: 10px;
                    padding: 5px;
                    span{
                        font-weight: bold;
                        color: black;
                    }
                    img{
                        border: solid 1px white;
                        background-color: white;
                        border-radius: 10px;
                        width: 44px;
                        height: 44px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .contact{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 10px;
    background-color: $color-bg-dark;
        h2{
            right: 0;
            width: 70%;
        }
    }
    .competences{
        height: 500px;
        padding: 20px;
        .competences-container{
            display: flex;
            justify-content: space-between;
            img{
                width: 40%;
            }
        }
    }

}

@media (max-width: 1024px){
    .homepage{
        padding: 10px;
        .realisation{
            height: auto;
            .reali{
                .reve{
                    img{
                        width: 80%;
                        height: auto;
                    }
                }
                .info{
                    width: 80%;
                    margin: 20px 0;
                }
                .tech{
                    width: 50%;
                    .tech-item{
                        gap: 10px;
                    }
                   
                }
            }
        }
        section{
            h2{
                right: 0;
                width: 70%;
            }
        }
    }
}

@media (max-width: 768px){
    .homepage{
        section{
            h2{
                right: 0;
                width: 70%;
            }
        }
        .presentation{
            height: auto;
            .pres-content{
                flex-direction: column;
                img{
                    width: 30%;
                    margin-bottom: 20px;
                }
                p{
                    width: 80%;
                    left: 0;
                }
            }
        }
        .realisation{
            height: auto;
            .reali{
                flex-direction: column;
                .reve{
                    img{
                        width: 80%;
                        height: auto;
                    }
                }
                .info{
                    width: 80%;
                    margin: 20px 0;
                }
                .tech{
                    width: 50%;
                    .tech-item{
                        gap: 10px;
                    }
                   
                }
            }
        }
        .contact{
            height: auto;
            padding-bottom: 20px;
            h2{
                width: 90%;
            }
        }
    }
}