.homepage section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}
.homepage section h2 {
  position: relative;
  right: -40%;
  text-align: center;
  border-bottom: solid 2px grey;
  border-bottom-width: medium;
  width: 20%;
  color: #E6EDF3;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.homepage .presentation {
  background-color: #21262D;
  height: 400px;
}
.homepage .presentation .pres-content {
  display: flex;
  align-items: center;
}
.homepage .presentation .pres-content img {
  width: 20%;
}
.homepage .presentation .pres-content p {
  position: relative;
  width: 50%;
  text-align: center;
  color: white;
  left: 10%;
}
.homepage .realisation {
  height: 400px;
}
.homepage .realisation .reali {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.homepage .realisation .reali .reve {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.homepage .realisation .reali .reve p {
  margin: 0;
  color: #8B949E;
}
.homepage .realisation .reali .reve img {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.homepage .realisation .reali .info {
  color: #8B949E;
  text-align: center;
  width: 40%;
}
.homepage .realisation .reali .tech {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 15px;
  background-color: #21262D;
  width: 20%;
}
.homepage .realisation .reali .tech p {
  font-size: 10px;
  color: #58A6FF;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.homepage .realisation .reali .tech .tech-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  border: solid 1px grey;
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
}
.homepage .realisation .reali .tech .tech-item span {
  color: white;
}
.homepage .realisation .reali .tech .tech-item img {
  border: solid 1px white;
  background-color: white;
  border-radius: 10px;
  width: 44px;
  height: 44px;
  padding: 10px;
}
.homepage .contact {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  background-color: #21262D;
}
.homepage .contact h2 {
  right: 0;
  width: 70%;
}
.homepage .competences {
  height: 500px;
  padding: 20px;
}
.homepage .competences .competences-container {
  display: flex;
  justify-content: space-between;
}
.homepage .competences .competences-container img {
  width: 40%;
}

@media (max-width: 1024px) {
  .homepage section h2 {
    right: 0;
    width: 70%;
  }
}
@media (max-width: 768px) {
  .homepage section h2 {
    right: 0;
    width: 70%;
  }
  .homepage .presentation {
    height: auto;
  }
  .homepage .presentation .pres-content {
    flex-direction: column;
  }
  .homepage .presentation .pres-content img {
    width: 50%;
    margin-bottom: 20px;
  }
  .homepage .presentation .pres-content p {
    width: 80%;
    left: 0;
  }
  .homepage .realisation {
    height: auto;
  }
  .homepage .realisation .reali {
    flex-direction: column;
  }
  .homepage .realisation .reali .reve img {
    width: 80%;
    height: auto;
  }
  .homepage .realisation .reali .info {
    width: 80%;
    margin: 20px 0;
  }
  .homepage .realisation .reali .tech {
    width: 80%;
  }
  .homepage .realisation .reali .tech .tech-item {
    justify-content: center;
  }
}/*# sourceMappingURL=homepage.css.map */