@use '../variables' as *;
.vers-realisation{
    position: relative;
    background: linear-gradient(to right, $color-primary, $color-green);
    border-radius: 10px;
    padding: 20px;
    height: 100%;
    max-width: 1440px;
    margin: 0 auto;    
    h1{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 1.2rem;
        color: white;
    }
    .projet-en-cours{
        h2{
            text-align: center;
        }
        .reves{
            display: flex;
            justify-content: space-around;
            padding: 20px;
            .reves-maquette{
                position: relative;
                width: 40%;
                img{
                    width: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
            }
            .reves-item{
                padding-right: 20px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .vers-realisation{
        margin: 20px;
        padding: 20px;
        .projet-en-cours{
            .reves{
                align-items: center;
                .reves-maquette{
                    width: 90%;
                    margin-bottom: 20px;
                    img{
                        width: 70%;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .vers-realisation{
        .projet-en-cours{
            .reves{
                flex-direction: column;
                align-items: center;
                .reves-maquette{
                    display: flex;
                    justify-content: center;
                    margin-bottom: 20px;
                    width: 100%;
                }
                .reves-item{
                    padding-right: 0;
                }
            }
        }
    }
}