@use '../variables' as *;
.toggle-section{
    width: 100%;
    background: linear-gradient(to right, $color-grey, $color-grey-light);
    border: solid 5px $color-primary;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    h3{
        text-transform: uppercase;
    }
    .toggle-content{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                text-align: center;
                margin-bottom: 20px;
                animation: downUp 0.5s ease-in-out;
                @keyframes downUp {
                    0% {
                        opacity: 0;
                        transform: translateY(-100px);
                    }
                    100% {
                        opacity: 1;
                        transform: translateY(0);
                    }
                    
                }
                h4{
                    display: inline;
                }
            }
        }
        .technologies{
            display: flex;
            flex-direction: column;
            gap: 10px;
            align-items: center;
            justify-content: space-around;
            animation: downUp 0.5s ease-in-out;
            @keyframes downUp {
                0% {
                    opacity: 0;
                    transform: translateY(-100px);
                }
                100% {
                    opacity: 1;
                    transform: translateY(0);
                }
                
            }
            .front-back{
                .techno-list{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;
                }
                h4{
                    text-align: center;
                }
            }
        }
    }
}
